body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center; /* Centre tout horizontalement */
}

#main-title {
  font-size: 3em;
  color: #ffcc00;
  text-shadow: 2px 2px #000;
  font-family: 'Impact', 'Arial Black', sans-serif;
  margin-bottom: 30px;
}

#main-menu {
  display: flex;
  gap: 15px; /* Espace entre les boutons */
  margin-bottom: 30px;
}

#main-menu button {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.page {
  background: rgb(10, 2, 2);
  border: 1px solid #0b0303;
  color: white;
  min-height: 150px;
  width: 400px;  /* Largeur fixe pour le contenu */
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
#cartes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}
